---
layout: archive
title: "evenSteven()"
permalink: /evensteven/
author_profile: true
---

{% include base_path %}


<section id="main-section">
    {% if not results %}
        <section class="form-section">
            <form action="/" method="POST" autocomplete="off">
                <div class="person-inputs">
                    <input type="text" name="person-1" class="person-name" placeholder="Namn:">
                    <input type="text" name="has-paid-1" class="money-input" placeholder="Har betalat:">
                    <input type="text" name="to-pay-1" class="money-input" placeholder="Att betala:">
                    <input type="text" name="salary-1" class="salary-input" placeholder="Lön:">
                </div>
                <div class="person-inputs">
                    <input type="text" name="person-2" id="person-2" placeholder="Namn:">
                    <input type="text" name="has-paid-2" id="has-paid-2" placeholder="Har betalat:">
                    <input type="text" name="to-pay-2" id="to-pay-2" placeholder="Att betala:">
                    <input type="text" name="salary-2" id="salary-2" placeholder="Lön:">
                </div>
                <div class="person-inputs">
                    <input type="text" name="person-3" id="person-3" placeholder="Namn:">
                    <input type="text" name="has-paid-3" id="has-paid-3" placeholder="Har betalat:">
                    <input type="text" name="to-pay-3" id="to-pay-3" placeholder="Att betala:">
                    <input type="text" name="salary-3" id="salary-3" placeholder="Lön:">
                </div>
                <div class="person-inputs">
                    <input type="text" name="person-4" id="person-4" placeholder="Namn:">
                    <input type="text" name="has-paid-4" id="has-paid-4" placeholder="Har betalat:">
                    <input type="text" name="to-pay-4" id="to-pay-4" placeholder="Att betala:">
                    <input type="text" name="salary-4" id="salary-4" placeholder="Lön:">
                </div>

                <button type="submit" id="submit-button" name="submit-button" class="submit-btn"><strong>Beräkna</strong></button>
            </form>
        </section>
    {% endif %}
    <section class="centered-piece">
        {% if results %}
            {% for result in results %}
                <p style="color: orange;"><strong>{{ result.name }} {% if result.amount > 0 %} ska betala {{ result.amount|int }} kr. {% elif result.amount < 0 %} ska få tillbaka {{ -result.amount|int }} kr. {% else %} har betalat exakt sin andel. {% endif %}</strong></p>
            {% endfor %}
            <a style="color: orange; padding: 20px;" href="{{ url_for('index') }}">
                <button type="button" class="submit-btn"><strong>Återställ</strong></button>
            </a>
        {% endif %}
        
    </section>
</section>
 
