body {
    background-color: black;
}

a:link {
    color: #dd6e35;
    background-color: transparent;
    text-decoration: none;
  }
  
a:visited {
color: #dd6e35;
background-color: transparent;
text-decoration: none;
}

.terminal-img-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure that the section takes full width of its container */
    height: auto; /* Optional: Adjust the height as needed */
    position: relative;
}

.terminal-img-section img {
    width: 98vw; /* Set the width to 100% of the viewport width */
    height: 98vh; /* Set the height to 100% of the viewport height */
    object-fit: fill; /* This will stretch or compress the image to fill the space */
    margin: 0 auto; /* This centers the image horizontally */
    display: block; /* This ensures the image is displayed as a block element */
    border-radius: 10px;
}

.terminal-section {
    position: absolute;
    bottom: 20px; /* Adjust based on where you want the input box */
    left: 44%;
    transform: translateX(-50%);
    background-color: #181818; /* Semi-transparent black */
    color: #999B9D;
    padding: 10px;
    width: 80%; /* Adjust based on your design */
    max-width: 500px; /* Ensures the terminal doesn't become too wide */
}

.terminal-input {
    width: calc(100% - 20px); /* Adjust width considering padding */
    padding: 10px;
    background: none;
    color: white;
    border: 1px solid #999B9D;
    font-family: monospace;
}

.terminal-output {
    background-color: #181818;
    color: #CCCCCC;
    padding: 2px;
    height: 40px; /* Adjust based on your needs */
    overflow-y: auto; /* Allows scrolling if content overflows */
    margin-bottom: 10px; /* Spacing between output and input */
    font-family: monospace;
}

.page-content-section {
    position: absolute;
    bottom: 150px; /* Adjust based on where you want the input box */
    left: 62.5%;
    transform: translateX(-50%);
    background-color: #181818; /* Semi-transparent black */
    color: #999B9D;
    width: 100%; /* Adjust based on your design */
    max-width: 1035px; /* Ensures the terminal doesn't become too wide */
}

.page-content-window {
    background-color: #1f1f1f;  /*  #1f1f1f  */
    color: #CCCCCC; /* Terminal-like green text, but choose any color you like */
    padding: 2px;
    height: 570px; /* Adjust based on your needs */
    overflow-y: auto; /* Allows scrolling if content overflows */
    font-family: monospace;
}

.contact-page-container {
    display: flex; /* Enables flexbox layout */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    justify-content: space-between; /* Puts space between the flex items */
}

.about-me-section {
    flex-grow: 1; /* Allows the text section to grow and fill available space */
    margin-left: 20px; /* Adds some space between the image and the text */
}

.portfolio-div {
    text-align: left;
}

.blogpost-class {
    display: flex;
    align-items: flex-start; /* Aligns items to the top */
    gap: 20px; /* Adds some space between the text and the image */
}

.blogpost-content {
    flex: 1; /* Allows the text container to fill the space */
}

.blogpost-image {
    flex-basis: 300px; /* Sets the base size of the image container, adjust as needed */
}